html, body{
    background: rgba(18, 0, 0, 1);
    color: #fff;
    margin: 0;
}
body {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
}
hr {
    margin: 20px 0;
    border-bottom: 1px solid rgba(178, 35, 53, 1);
    padding: 10px 0;
    border-top: unset;
    opacity: unset;
}
img {width: 100%;}
.container{
    max-width: 98%;
}
a{
    color: #fff;
}
.yellowtext{
    color: rgba(254, 240, 28, 1)!important;
}
.redtext{
    color: rgba(255, 87, 87, 1);
}
.greentext{
    color: rgba(0, 255, 181, 1);
}
.orangetext{
    color: rgba(255, 186, 104, 1);
}
/* Button */
.btn{
    border: none;
    color: #fff;
}
.btn-primary{
    background: linear-gradient(180deg, #FF0004, #A30003);
    border: 1px solid rgba(255, 0, 19, 1);
    border-radius: 8px;
    font-weight: 700;
}
.btn-primary:hover{
    background: linear-gradient(180deg, #FF0004, #FF0004);
    border: 1px solid rgba(255, 0, 19, 1);
}
.btn-primary-border{
    border: 1px solid rgba(255, 0, 19, 1);
    color: rgba(255, 0, 19, 1);
}
.btn-primary-border:hover{
    background: linear-gradient(180deg, #FF0004, #FF0004);
    border: 1px solid rgba(255, 0, 19, 1);
}
.btn-secondary{
    background: linear-gradient(180deg, #FFF21C, #F9A410);
    border: 1px solid rgba(254, 240, 28, 1);
    border-radius: 8px;
    font-weight: 700;
    color: rgba(18, 0, 0, 1);
}
.btn-secondary:hover{
    background: linear-gradient(0deg, #FFF21C, #FFF21C);
    border: 1px solid rgba(254, 240, 28, 1);
    color: rgba(18, 0, 0, 1);
}
.btn-secondary-border{
    background: none;
    border: 1px solid rgba(254, 240, 28, 1);
    border-radius: 8px;
    font-weight: 700;
    color: rgba(254, 240, 28, 1);
}
.btn-secondary-border:hover{
    background: linear-gradient(0deg, #FFF21C, #FFF21C);
    border: 1px solid rgba(254, 240, 28, 1);
    color: rgba(18, 0, 0, 1);
}
.btn-white-border{
    background: none;
    border: 1px solid #fff;
    border-radius: 20px;
    font-weight: 700;
    color: #fff;
}
.btn-white-border:hover{
    background: #fff;
    border: 1px solid #fff;
    color: rgba(18, 0, 0, 1);
}
/* scrollbar */
::-webkit-scrollbar {
    width: 3px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(158, 57, 57, 1);
    border-radius: 1px;
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1px;
}
/* nav */
.nav-pills .nav-link{
    color: #fff;
}
.nav-pills .nav-link.active{
    background: rgba(178, 35, 53, 1);
    border-radius: 4px;
}
/* table */
table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgba(178, 35, 53, 1);

    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
}
table thead{
    background: rgba(178, 35, 53, 1);
}
table tbody{
    background: rgba(77, 7, 24, 1);
}
table thead th, table td {
    padding: 8px;
    border-right: 1px solid rgba(18, 0, 0, 1);
    border-bottom: 1px solid rgba(18, 0, 0, 1);
}
table thead th:last-child, table tbody td:last-child {
    border-right: 0;
}
tr:last-child td {
    border-bottom: 0;
}
/* tab */
.tab-option {
    padding: 5px 8px;
    margin: 0 3px;
    color: #fff;
    background: none;
    border: none;
}
.tab-option.active {
    background: rgba(178, 35, 53, 1);
    border-radius: 4px;
}
.center-tabBox{
    background: rgba(77, 7, 24, 1);
    border: 2px solid rgba(178, 35, 53, 1);
    border-radius: 8px;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0;
    font-size: 20px;
    width: 80%;
}
.left-tabBox{
    background: rgba(77, 7, 24, 1);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style: none;
}
@media (max-width: 1023px){
    .center-tabBox{
        width: 70%;
    }
}
@media screen and (max-width: 767px){
    .tab-option {
        font-size: 10px;
        padding: 5px;
    }
    .center-tabBox{
        width: 100%;
        font-size: 16px;
        margin: 16px 8px;
    }
    .left-tabBox{
        width: 100%;
    }
}
/* search box */
.searchBox {
    display: flex;
    align-items: center;
    background: rgba(77, 7, 24, 1);
    border-radius: 8px;
    padding: 8px 16px;
    gap: 8px;
}
.searchBox input{
    flex: 1;
    min-width: 0;   /* 阻止撐爆 */
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    padding: 5px 8px;
}
.searchBox input::placeholder{
    color: rgba(255, 255, 255, .5);
}
.searchBox .searchicon{
    width: 20px;
    height: auto;
}
@media screen and (max-width: 767px){
    .searchBox {
        padding: 4px;
        margin: 0px;
        margin-bottom: 5px;
        width: 100%;
    }
    .searchBox input{
        font-size: 12px;
    }
}
/*--------------------------------------------------------------------------------------------------------------*/
/* Header */
.header {
    background: linear-gradient(90deg, #3E0613 0%, #67122B 50%, #3E0613 100%);
    height: 100px;
    padding: 0 10px;
}
.header-logo{
    display: grid;
    align-items: center;
    width: 100px;
}
.header .btn-primary, .header .btn-secondary, .header .btn-secondary-border {
    height: 48px;
    width: 160px;
    margin: 0 5px;
}
.btn-dropdown-lang{
    background: none;
}
.btn-dropdown-lang.dropdown-toggle::after{
    display: none;
}
.btn-dropdown-lang img{
    width: 48px;
    height: auto;
}
.dropdownlangBox{
    display: inline-block;
}
.dropdown-lang-menu{
    background: rgba(128, 45, 45, 1);
    border: 1px solid rgba(178, 35, 53, 1);
    min-width: unset;
}
.dropdown-lang-menu .dropdown-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    color: #fff;
}
.dropdown-lang-menu .dropdown-item:hover{
    background: rgba(158, 57, 57, 1);
}
.dropdown-lang-menu img{
    width: 30px;
    height: auto;
    margin-right: 3px;
}
.dropdown-lang-menu.dropdown-menu[data-bs-popper]{
    left: unset;
    right: 0;
}
.btn-gamewallet{
    background: rgba(178, 35, 53, 1);
    font-weight: 700;
    border-radius: 16px;
    height: 48px;
}
.btn-gamewallet:hover{
    background: rgba(178, 35, 53, 1);
}
.btn-gamewallet img{
    width: 18px;
    height: auto;
}
.btn-player{
    padding: 0;
}
.btn-player img{
    width: 48px;
    height: 48px;
}
.btn-notify{
    position: relative;
}
.btn-notify img{
    height: 40px;
    width: auto;
}
.notify-dot{
    background-color: #FF0000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    right: 8px;
}
@media screen and (max-width: 767px){
    .header {
        height: 72px;
    }
    .header .btn-primary, .header .btn-secondary{
        height: 40px;
        width: 90px;
        margin: 0;
    }
    .btn-dropdown-lang img{
        width: 32px;
    }
    .btn-gamewallet{
        height: 40px;
    }
    .btn-notify{
        padding: 6px;
    }
    .btn-notify img{
        height: 30px;
    }
    .notify-dot{
        width: 10px;
        height: 10px;
        top: 5px;
        right: 5px;
    }
}

/* Mobile function bar */
.functionbar{
    background: linear-gradient(180deg, #3E0613 0%, #67122B 50%, #3E0613 100%);
    height: 60px;
}
.functionBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.function-pagelink a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 5px;
}
.function-pagelink img{
    height: 32px;
    width: auto;
}
.function-pagelink span{
    font-size: 12px;
}
/* Sidebar */
.sidebar{
    background: rgba(77, 7, 24, 1);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    overflow-y: auto;
    z-index: 9999;
    transition: transform 0.4s ease-in-out;
}
.sidebar-logo{
    padding: 32px;
}
.sidebar-logo img{
    width: 150px;
}
.pagelinkBox{
    padding: 10px;
}
.pagelink-title{
    font-weight: 700;
}
.pagelink-button{
    background: rgba(112, 10, 35, 1);
    width: 100%;
    padding: 8px 16px;
    margin: 5px 0;
}
.pagelink-button.active{
    background: linear-gradient(180deg, #FFF21C 0%, #F9A410 100%);
    color: rgba(18, 0, 0, 1);
}
.pagelink-button:hover{
    background: linear-gradient(180deg, #FFF21C 0%, #F9A410 100%);
    color: rgba(18, 0, 0, 1);
}
.pagelink-button img{
    width: 32px;
    margin-right: 10px;
}
@media (max-width: 991px){
    .sidebar{
        width: 200px;
    }
}
@media (max-width: 767px) {
    .sidebar {
        width: 250px;
        left: auto;
        right: 0;
        transform: translateX(100%);
    }
    .sidebar.show {
        transform: translateX(0);
    }
    .sidebar-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 9998;
        display: none;
    }
    .sidebar.show ~ .sidebar-overlay {
        display: block;
    }
}
/* Main Content */
.main-content {
    margin-top: 100px;
    margin-left: 250px;
    max-width: 100%;
}
.main-content .row {
    margin-right: 0;
    margin-left: 0;
}
@media (max-width: 991px){
    .main-content {
        margin-left: 200px;
    }
}
/* banner */
.bannerBox{
    padding: 0;
}
.home-contentBox{
    padding: 10px 20px;
}
/* marquee */
.marqueeBox{
    display: flex;
    height: 48px;
    background: rgba(77, 7, 24, 1);
    border: 1px solid rgba(178, 35, 53, 1);
    border-radius: 25px;
    padding: 5px 10px;
}
.marqueeBox img{
    width: 32px;
    height: auto;
    margin-right: 5px;
}
.marqueeBox marquee {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #fff;
}
/* gameroom */
.gameroomBox {
    display: flex;
    gap: 15px;
    padding: 20px 0;
}
.gameroomlink {
    position: relative;
    flex: 1;
    text-align: center;
    text-decoration: none;
    transition: 0.3s ease;
}
.gameroomlink:hover {
    filter:drop-shadow(0px 0px 10px rgba(255, 255, 255, .5));
}
.gameroomlink.dimmed {
    filter: brightness(0.3);
}
.gameroomlink img {
    display: block;
    width: 100%;
    height: auto;
}
.gameroomlink span {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    right: 30px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    text-shadow: 1px 1px 5px rgba(0,0,0,1);
}
/* game block */
.gameblockBox{
    background: rgba(77, 7, 24, 1);
    margin: 20px 0;
    padding: 16px;
    border-radius: 16px;
}
.gameblock-titleBox{
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}
.gameblock-titleBox img{
    width: 32px;
    height: auto;
    margin-right: 10px;
}
.gameblock-text{
    font-size: 24px;
    font-weight: 700;
}
.gameblockBox .btn-secondary-border{
    height: 30px;
    align-self: center;
    line-height: 18px;
}
/* 左右按鈕 */
.scroll-controls {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;
}
.scroll-btn {
    background: none;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scroll-btn:disabled {
    opacity: .3;
    cursor: not-allowed;
}
/* providers */
.providers-logoBox {
    gap: 15px;
    overflow-x: auto;   /* 啟用水平滾動 */
    scroll-behavior: smooth;   /* 平滑滾動效果 */
    white-space: nowrap;   /* 防止項目換行 */
}
.providers-logoBox::-webkit-scrollbar {
    display: none;   /* 隱藏滾動條 */
}
.providers-logoimgBox{
    width: 260px;
    height: 110px;
    background: rgba(18, 0, 0, 1);
    border-radius: 16px;
    flex: 0 0 auto;   /* 防止項目縮小 */
}
.providers-logoimgBox img{
    width: 100px;
    height: auto;
}
/* game img */
.game-imgBox {
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
}
.game-imgBox::-webkit-scrollbar {
    display: none;   /* 隱藏滾動條 */
}
.game-entranceimgBox{
    display: flex;
    flex: 0 0 auto;
    text-decoration: none;
    position: relative;
}
.game-entranceimgBox:hover::after {
    opacity: 1;
    height: 200px;
}
.game-entranceimgBox img{
    border-radius: 16px;
    width: 160px;
    height: auto;
    position: relative;
    z-index: 1;
}
.game-entranceimgBox span {
    margin-top: 5px;
    color: #fff;
    font-size: 16px;
    z-index: 3;
}
.favoritesicon{
    background: url(../img/icon/favorites.png) no-repeat;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
    z-index: 3;
}
.favoritesicon.active{
    background: url(../img/icon/favorites_click.png) no-repeat;
}
.gameplay-overlay {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 200px;
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 16px;
    z-index: 2;
    opacity: 0;
    transition: opacity .3s ease;
}
.game-entranceimgBox:hover .gameplay-overlay {
    opacity: 1;
}
.gameplay-overlay .play-icon {
    width: 40px;
    height: auto;
}
.gameplay-overlay span {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
}
/* footer */
.footer{
    background: linear-gradient(90deg, #3E0613 0%, #67122B 50%, #3E0613 100%);
    border-top: 1px solid rgba(254, 240, 28, 1);
    padding: 16px;
}
.footer-blocktitle{
    font-weight: 600;
    margin: 15px 0;
}
.footer-blockcontent{
    color: #fff;
    font-size: 12px;
}
.footer .payment-logo, .footer .Licenses-logo{
    height: 24px;
    width: auto;
    margin-right: 10px;
}
.footer .providers-logo{
    height: 40px;
    width: auto;
    margin-right: 10px;
}
/* copyright */
.copyright{
    background: rgba(18, 0, 0, 1);
    padding: 8px;
}
@media screen and (max-width: 1200px){
    .gameroomlink span {
        font-size: 18px;
        right: 10px;
    }
}
@media screen and (max-width: 767px){
    .main-content {
        margin-top: 72px;
        margin-left: unset;
        padding-bottom: 60px;
    }
    .bannerimg{
        background: url(../img/banner/Banner_MOB.webp) center no-repeat;
        height: 160px;
    }
    .home-contentBox{
        padding: 10px;
    }
    .marqueeBox{
        height: 32px;
        padding: 0 10px;
    }
    .marqueeBox marquee {
        font-size: 12px;
    }
    .gameroomBox {
        gap: 5px;
        padding: 10px 0;
    }
    .gameroomlink span {
        font-size: 10px;
        line-height: 12px;
        top: unset;
        right: unset;
        bottom: 3px;
        left: 50%;
        transform: translatex(-50%);
    }  
    .gameblockBox{
        padding: 10px;
        margin: 10px 0;
    }
    .gameblock-titleBox{
        margin-bottom: 0;
    }
    .gameblock-text{
        font-size: 16px;
    }
    .gameblockBox .btn-secondary-border{
        font-size: 12px;
        line-height: 18px;
    }
    .scroll-controls{
        margin-bottom: 0;
        gap: 2px;
    }
    .providers-logoBox {
        gap: 5px;
    }
    .providers-logoimgBox{
        width: 100px;
        height: 40px;
        border-radius: 8px;
    }
    .providers-logoimgBox img{
        width: 40px;
    }
    .game-imgBox {
        gap: 5px;
    }
    .game-entranceimgBox img{
        border-radius: 5px;
        width: 100px;
    }
    .gameplay-overlay {
        width: 0;
        height: 0;
        visibility: hidden;
    }
    .footer .payment-logo, .footer .Licenses-logo{
        height: 16px;
    }
    .footer .providers-logo{
        height: 20px;
        margin-right: 3px;
    }
    .copyright{
        font-size: 12px;
    }
}
/* Popup */
/* notify popup */
.notify-popupBox{
    position: fixed;
    top: 105px;
    right: 75px;
    background: rgba(77, 7, 24, 1);
    border: 1px solid rgba(178, 35, 53, 1);
    border-radius: 8px;
    padding: 15px;
    width: 400px;
    height: auto;
    max-height: 500px;
    overflow-y: auto;
    z-index: 99;
}
.notifypopup-blockBox{
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 15px;
}
.notifypopup-blockBox.unread{
    background: rgba(158, 57, 57, 1);
}
.notifypopup-blockBox.read{
    background: rgba(18, 0, 0, 1);
}
.notifypopup-titleBox{
    margin-bottom: 5px;
}
.notifypopup-title{
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}
@media screen and (max-width: 767px){
    .notify-popupBox{
        width: 95%;
        top: 77px;
        right: 50%;
        transform: translateX(50%);
    }
}
/* player popup */
.player-popupBox{
    position: fixed;
    top: 105px;
    right: 130px;
    background: rgba(77, 7, 24, 1);
    border: 1px solid rgba(178, 35, 53, 1);
    border-radius: 8px;
    padding: 15px;
    width: 400px;
    height: auto;
    overflow-y: auto;
    z-index: 99;
}
.playerpopup-infoBox img{
    width: 48px;
    height: 48px;
    margin-right: 15px;
}
.btn-logout{
    border: 1px solid rgba(254, 240, 28, 1);
    color: rgba(254, 240, 28, 1);
    border-radius: 8px;
}
.btn-logout:hover{
    background: rgba(18, 0, 0, 1);
}
.btn-logout img{
    height: 16px;
    width: auto;
    margin-left: 10px;
}
.playerpopup-viplevelBox{
    margin-top: 15px;
}
.playerpopup-levelBox{
    padding: 15px;
    margin: 2px 0px;
    border: 1px solid #fff;
    border-radius: 16px;
}
.playerpopup-levelimg{
    position: relative;
}
.playerpopup-levelBox .viplevelimg-num{
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    top: 15px;
    left: 25px;
}
.playerpopup-leveltext{
    font-weight: 900;
    color: #FF0004;
    text-shadow: -1px -1px 0 #FFF21C,  1px -1px 0 #FFF21C,  -1px  1px 0 #FFF21C, 1px  1px 0 #FFF21C;
}
.playerpopup-levelnote{
    margin-right: 10px;
}
.playerpopup-pagelinkBox{
    margin-top: 15px;
}
/* game wallet popup */
.gamewallet-popupBox{
    position: fixed;
    top: 105px;
    right: 180px;
    background: rgba(77, 7, 24, 1);
    border: 1px solid rgba(178, 35, 53, 1);
    border-radius: 8px;
    padding: 0 15px;
    width: 400px;
    height: auto;
    max-height: 500px;
    overflow-y: auto;
    z-index: 99;
}
.walletpopup-balancedetailBox{
    position: relative;
}
.walletpopup-titleBox{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    position: sticky;
    top: 0;
    background: rgba(77, 7, 24, 1);
    padding: 15px 0;
}
.walletpopup-titleBox img{
    width: 32px;
    height: auto;
    margin-right: 15px;
}
.walletpopup-gamecateBox{
    background: rgba(18, 0, 0, 1);
    padding: 16px;
    border-radius: 8px;
    line-height: 16px;
    margin-bottom: 15px;
}
.walletpopup-gamenameBox img{
    width: 30px;
    height: auto;
}
.btn-refreshbalance{
    padding: 0;
}
.walletpopup-transferbackBox{
    position: sticky;
    bottom: 0;
    background: rgba(77, 7, 24, 1);
    background: linear-gradient(180deg, rgba(77, 7, 24, 0) 0%, rgba(77, 7, 24, 1) 50%);

    padding: 15px 0;
    padding-top: 30px;
}
.btn-transferback{
    background: linear-gradient(180deg, #FF0004 0%, #A30003 100%);
    border: 1px solid rgba(255, 0, 19, 1);
    border-radius: 8px;
}
/* mobile player detail */
.mobileplayerBox{
    background: rgba(178, 35, 53, 1);
    margin-top: 10px;
    border-radius: 8px;
    padding: 4px 8px;
}
.mobileplayer-infoBox img{
    width: 48px;
    height: auto;
}
.mobileplayer-balance{
    gap: 3px;
}
.mobileplayer-balance img{
    width: 24px;
}
.mobileplayer-infoBox .btn-secondary, .mobileplayer-infoBox .btn-secondary-border{
    font-size: 12px;
}
/*--------------------------------------------------------------------------------------------------------------*/
/* login/register main */
.loginregister .main-content{
    background-image: url(../img/background/loginregisterBG.png);
    height: calc(100vh - 100px);
}
.loginregister-popupBox{
    background: rgba(77, 7, 24, 1);
    border: 1px solid rgba(178, 35, 53, 1);
    border-radius: 16px;
    padding: 40px;
    width: 488px;
}
.lr-popuptitleBox{
    position: relative;
    align-items: center;
    justify-content: center;
}
.loginregister-btnarrow {
    position: absolute;
    left: 0;
    background: none;
    border: none;
    padding-left: 0;
}
.lr-popuptitle{
    font-size: 32px;
}
.inputBox{
    margin-top: 16px;
}
.inputtitle{
    font-size: 20px;
}
.inputrequired{
    font-size: 20px;
}
.inputcontent {
    display: flex;
    align-items: center;
    background: rgba(128, 45, 45, 1);
    border: 1px solid rgba(178, 35, 53, 1);
    border-radius: 8px;
    padding: 8px 12px;
    gap: 8px;
}
.inputcontent input{
    flex: 1;
    min-width: 0;   /* 阻止撐爆 */
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px; 
}
.inputcontent .inputicon{
    width: 20px;
    height: auto;
}
.inputwarn{
    color:rgba(255, 0, 19, 1);
    font-size: 12px;
}
.lr-inputforgot{
    text-decoration: underline;
    display: block;
    text-align: end;
    cursor: pointer;
}
.lr-enterbtnBox{
    margin-top: 16px;
}
.lr-enterbtnBox button{
    border-radius: 8px;
    width: 100%;
    padding: 8px 12px;
}
.line-text {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 16px;
}
.line-text::before,
.line-text::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #fff;
    margin: 0 2px;
}
.verifycodeimg{
    height: 32px;
    width: auto;
}
.lr-radiolabel {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}
.lr-defaultradio{
    display: none;
}
.lr-inputradio {
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
} 
.lr-defaultradio:checked + .lr-inputradio::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
}
.lr-radiolabel a{
    color: rgba(255, 0, 0, 1);
}
.lr-directions{
    margin-top: 16px;
}
.lr-directionslogin{
    text-decoration: underline;
    cursor: pointer;
}
.lr-verifycountdown{
    font-size: 24px;
    font-weight: 600;
}
.lr-resendotp{
    text-decoration: underline;
    cursor: pointer;
}
.resetsuccessimg{
    width: 150px;
    height: auto;
}
@media screen and (max-width: 767px){
    .loginregister-popupBox{
        width: 95%;
        padding: 24px 16px;
        max-height: 95%;
        overflow-y: auto;
    }
}
/*--------------------------------------------------------------------------------------------------------------*/
/* promotion */
.promotionBox{
    padding: 20px;
    padding-top: 40px;
}
.promotiontabbtnBox{
    display: flex;
    padding-left: 10px;
    padding-right: 10px ;
}
.promotion-tab{
    padding: 5px 8px;
    margin: 0 3px;
    color: #fff;
    background: none;
    border: none;
}
.promotion-listBox{
    margin-top: 16px;
}
.promotion-cardBox{
    border: 1px solid rgba(178, 35, 53, 1);
    border-radius: 16px;
}
.promotion-cardBox img{
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
.promotion-textBox{
    background: rgba(77, 7, 24, 1);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    padding: 16px;
}
.promotion-texttitle{
    font-size: 24px;
}
.promotion-textdirection{
    color: #fff;
    line-height: 16px;
}
@media screen and (max-width: 767px){
    .promotionBox{
        padding: 10px 0;
    }
    .promotiontabbtnBox {
        flex-direction: column;
        padding: 0 12px;
    }
    .promotion-searchBox {
        order: 1;
        margin-bottom: 10px;
    }
    .promotion-tabBox {
        order: 2;
        padding: 4px;
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .promotion-listBox{
        margin-top: 0px;
    }
    .promotion-tab{
        font-size: 12px;
        padding: 5px;
    }
}
/*--------------------------------------------------------------------------------------------------------------*/
/* affiliate */
.affiliate-contentBox{
    padding: 10px 20px;
}
.affiliate-programBox{
    padding: 60px 0;
}
.program-directionBox{
    height: 130px;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.programdirectionBox1{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 0, 0, 0.5) 80%);
    border: 1px solid rgba(255, 0, 0, 1);
    border-bottom: 10px solid rgba(255, 0, 0, 1);

}
.programdirectionBox2{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 132, 255, 0.5) 80%);
    border: 1px solid rgba(0, 132, 255, 1);
    border-bottom: 10px solid rgba(0, 132, 255, 1);
}
.programdirectionBox3{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 246, 0, 0.5) 80%);
    border: 1px solid rgba(255, 246, 0, 1);
    border-bottom: 10px solid rgba(255, 246, 0, 1);
}
.affiliate-programBox img {
    width: 180px;
    height: auto;
    position: relative;
    top: -20px;
}
.program-title {
    font-size: 32px;
    margin-bottom: 5px;
}
.program-content {
    color: #fff;
}
@media (min-width: 768px) {
    .affiliate-programBox {
        display: block;
    }
    .program-carousel .program-track {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 16px;
    }
    .program-directionBox {
        flex: 1;
    }
    .carousel-indicators {
        display: none;
    }
}
@media (max-width: 1023px){
    .affiliate-programBox img {
        width: 120px;
    }
    .program-directionBox{
        padding: 5px;
    }
    .program-title {
        font-size: 20px;
    }
    .program-content {
        font-size: 12px;
    }
}
@media (max-width: 767px) {
    .affiliate-programBox{
        padding: 0;
    }
    .program-carousel {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .program-track {
        display: flex;
        padding-top: 40px;
    }
    .program-directionBox {
        min-width: 100%;
        height: 92px;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
    .affiliate-programBox img {
        width: 128px;
    }
    .program-title {
        font-size: 22px;
    }
    .program-content {
        font-size: 12px;
    }
    .carousel-indicators {
        position: unset;
        margin: 0;
        margin-top: 10px;
    }
    .indicator {
        width: 6px;
        height: 6px;
        background-color: rgba(217, 217, 217, 1);
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
    }
    .indicator.active {
        background-color: rgba(254, 240, 28, 1);
    }
}
.affiliate-tabBox{
    width: 30%;
}
.affiliate-tab{
    color: #fff;
    border: none;
    padding: 8px 16px;
    background: none;
    flex: 1 1 0;
    white-space: nowrap;
}
.affiliate-tab.active{
    background: rgba(178, 35, 53, 1);
    border-radius: 4px;
}
.affiliate-tabcontent{
    padding: 0 100px;
}
.commissionBox{
    margin-bottom: 20px;
}
.commission-title{
    font-size: 24px;
}
.accordion-item{
    border: 1px solid rgba(178, 35, 53, 1);
    margin-bottom: 10px;
    border-radius: 16px;
    background: none;
}
.accordion-button{
    border-radius: 16px;
}
.faq-accordion{
    margin-bottom: 25px;
}
.faq-title{
    font-size: 24px;
}
.accordion-button{
    background: rgba(178, 35, 53, 1);
    color: #fff;
    padding: 10px 16px;
    height: 56px;
}
.accordion-button:not(.collapsed){
    background: rgba(178, 35, 53, 1);
    color: #fff;
    box-shadow: none;
}
.accordion-button::after{
    background: rgba(18, 0, 0, 1);
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: auto;
    border-radius: 50%;
    background-image: url('../img/icon/arrowbg-down.png');
    background-repeat: no-repeat;
    background-position: center;
}
.accordion-button:not(.collapsed)::after{
    background-image: url('../img/icon/arrow-down.png');
}
.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed{
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.accordion-item:last-of-type{
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.accordion-body{
    color: #fff; 
}
@media screen and (max-width: 767px){
    .affiliate-tab{
        padding: 8px;
    }
    .affiliate-tabcontent{
        padding: 0;
    }
    .faq-title{
        font-size: 16px;
    }
    .accordion-button{
        height: 48px;
        font-size: 12px;
    }
    .accordion-button::after{
        width: 30px;
        height: 30px;
        background-size: 15px 15px;
    }
}
/*--------------------------------------------------------------------------------------------------------------*/
/* game lobby */
.gameentranceBox{
    padding: 10px 20px;
}
.gamelobbyBox{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-height: auto;
    width: 100%;
}
.cockfighting .gamelobbyBox{
    background-image: url(../img/background/cockfightingBG.png);
}
.livecasino .gamelobbyBox{
    background-image: url(../img/background/livecasinoBG.png);
}
.lottery .gamelobbyBox{
    background-image: url(../img/background/lotteryBG.png);
}
.sports .gamelobbyBox{
    background-image: url(../img/background/sportsBG.png);
}
.board .gamelobbyBox{
    background-image: url(../img/background/boardBG.png);
}
.esports .gamelobbyBox{
    background-image: url(../img/background/esportsBG.png);
}
.gamelobbyBox .row {
    display: flex;
    align-items: center;
    height: calc(100% - 100px);
}
.gameentrance-text{
    font-size: 32px;
    margin-bottom: 30px;
    padding: 0 12px;
}
.btn-entergame{
    width: 100%;
    background: linear-gradient(90deg, #3E0613 0%, #67122B 50%, #3E0613 100%);
    border: 1px solid rgba(178, 35, 53, 1);
    border-radius: 16px;
    padding: 20px 10px;
    margin-bottom: 8px;
}
.btn-entergame:hover{
    background: linear-gradient(90deg, #3E0613 0%, #FF001B 50%, #3E0613 100%);
}
.btn-entergame img{
    width: 60%;
}
.gameentrance-headerBox{
    display: flex;
}
.gameentrance-headerright{
    display: flex;
}
.providerselectbtn {
    display: flex;
    align-items: center;
    background: rgba(77, 7, 24, 1);
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    gap: 8px;
    margin-left: 10px;
}
.providerselectbtn .sortingicon{
    width: 20px;
    height: auto;
}
.slots .game-imgBox, .fishing .game-imgBox {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
}
@media screen and (max-width: 767px){
    .gamelobbyBox{
        padding-bottom: 20px;
    }
    .gamelobbyBox .row {
        height: auto;
    }
    .gameentranceimgBox{
        margin-top: 20px;
    }
    .gameentrance-text{
        font-size: 24px;
        text-align: center;
    }
    .gameentrance-headerBox {
        flex-direction: column;
        padding: 0;
    }
    .gameentrance-headerright {
        order: 1;
        margin-bottom: 5px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .gameentrance-tabBox {
        order: 2;
        padding: 4px;
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .providerselectbtn{
        font-size: 12px;
        padding: 9px;
        margin-bottom: 5px;
        width: 100%;
    }
    .slots .game-imgBox .game-entranceimgBox, .fishing .game-imgBox .game-entranceimgBox{
        width: 30%;
    }
    .slots .game-imgBox .game-entranceimgBox img, .fishing .game-imgBox .game-entranceimgBox img {
        width: 100%;
    }
}
/*--------------------------------------------------------------------------------------------------------------*/
/* Member Center */
.membercenter{
    padding: 60px 0;
    display: flex;
}
.member-contentBox{
    width: 1200px;
    margin-top: 0;
}
.member-contentBox .row{
    height: 100%;
}
.member-leftbarBox{
    background: rgba(112, 10, 35, 1);
    border-radius: 8px;
    height: 100%;
}
.member-profileBox{
    padding: 16px;
}
.member-levelimg{
    position: relative;
    text-align: center;
}
.member-levelimg img{
    width: 40px;
    height: auto;  
}
.member-levelimg .viplevelimg-num{
    position: absolute;
    font-size: 10px;
    top: 10px;
    left: 17px;
}
.member-leveltext{
    font-weight: 900;
    color: #FF0004;
    text-shadow: -1px -1px 0 #FFF21C,  1px -1px 0 #FFF21C,  -1px  1px 0 #FFF21C, 1px  1px 0 #FFF21C;
    margin-left: 10px;
}
.member-userimg img{
    width: 100px;
    height: auto;
}
.member-pagetabBox .nav-link{
    margin: 6px 0;
    text-align: start;
    padding: 8px 30px;
}
.member-pagetabBox .nav-link.active{
    background: linear-gradient(0deg, #D61343, #D61343);
    border-radius: 0;
    border-left: 6px solid rgba(254, 240, 28, 1);
}
.member-pagetabBox .nav-link img{
    width: 32px;
    height: auto;
}
.member-leftbarBox .btn-logout{
    width: calc(100% - 60px);
    margin: 16px 30px;
    text-align: center;
}
.member-tabcontentBox{
    background: rgba(77, 7, 24, 1);
    border: 1px solid rgba(178, 35, 53, 1);
    border-radius: 8px;
    height: auto;
}
.member-titleBox{
    display: flex;
    position: relative;
    margin: 8px 0;
}
.member-pagetitle{
    font-size: 20px;
}
/* Member Center-account */
.member-tab-option{
    color: #fff;
    border: none;
    padding: 8px 16px;
    background: none;
}
.member-tab-option.active{
    background: rgba(178, 35, 53, 1);
    border-radius: 4px;
}
.btn-backleftarrow {
    position: absolute;
    left: 0;
    background: none;
    border: none;
    padding-left: 0;
}
.membercenterBlock{
    background: rgba(112, 10, 35, 1);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 8px;
}
.membercenterBlock .row>* {
    padding-left: 4px;
    padding-right: 4px;
}
.membercenterCube{
    background: rgba(158, 57, 57, 1);
    border-radius: 8px;
    padding: 8px;
}
.memberinfo-title{
    font-size: 20px;
    border-bottom: 1px solid rgba(254, 240, 28, 1);
    margin-bottom: 8px;
}
.membercenterBlock-title{
    font-size: 20px;
    margin-bottom: 8px;
}
.memberinfocell{
    border-bottom: 1px solid rgba(178, 35, 53, .5);
    padding: 8px;
}
.membervip-imgBox{
    position: relative;
    width: 100px;
}
.membervip-imgBox .viplevelimg-level{
    width: 80%;
    height: auto;
}
.membervip-imgBox .viplevelimg-num{
    position: absolute;
    font-size: 20px;
    top: 20px;
    left: 44px;
}
.membervip-textBox{
    margin-left: 10px;
}
.membervip-levelnote{
    margin-right: 10px;
}
.membervip-leveltext{
    font-weight: 900;
    color: #FF0004;
    text-shadow: -1px -1px 0 #FFF21C,  1px -1px 0 #FFF21C,  -1px  1px 0 #FFF21C, 1px  1px 0 #FFF21C;
}
.btn-vipclub, .btn-checkin{
    border-radius: 0;
    line-height: 16px;
    padding: 0;
}
.btn-vipclub img, .btn-checkin img{
    height: 32px;
    width: auto;
}
.member-rebatenum{
    font-size: 20px;
}
.nextlevelarrowicon{
    width: 30px;
    height: auto;
}
.progressbar{
    position: relative;
}
.progressbar-base{
    background: rgba(18, 0, 0, 1);
    box-shadow: 0px -1px 1px 0px rgba(255, 255, 255, 0.25) inset;
    border-radius: 10px;
    height: 16px;
    width: 100%;
    z-index: 1;
}
.progressbar-current{
    background: rgba(254, 240, 28, 1);
    border-radius: 10px;
    height: 16px;
    position: absolute;
    top: 0;
    z-index: 2;
}
.progressbar-num{
    font-size: 12px;
    text-shadow: 0 0 5px #000, 1px 1px 3px #000, -1px -1px 3px #000;
    position: absolute;
    top: 0;
    z-index: 3;
    text-align: center;
    width: 100%;
}
.btn-backprepage{
    display: inline-flex;
    align-items: center;
}
.VIPclub-backbtnBox img{
    height: 24px;
    width: auto;
}
.VIPclub-tableWrapper {
    overflow-x: auto;
}
.VIPclub-table {
    table-layout: fixed;
    width: 100%;
}
.VIPclub-table td{
    width: 130px;
    overflow: hidden;
    text-align: center;
}
.VIPclub-table tr td:nth-child(odd) {
    background: rgba(112, 10, 35, 1);
}
.VIPclub-table tr td:nth-child(even) {
    background: rgba(178, 35, 53, 1);
}
.VIPclub-table img{
    width: 16px;
    height: auto;
}

/* Member Center-transaction */
.transaction-deposit .center-tabBox .member-tab-option, .transaction-withdraw .center-tabBox .member-tab-option {
    flex: 1;
}
.depositrecord-table, .withdrawrecord-table{
    width: 100%;
    table-layout: fixed;
}
.depositrecord-table tr td:nth-child(1), .withdrawrecord-table tr td:nth-child(1){
    color: rgba(254, 240, 28, 1);
}
/* Member Center-game wallet */
.wallet-totalBox{
    font-size: 20px;
    font-weight: 500;
    position: sticky;
    top: 0;
    background: rgba(112, 10, 35, 1);
    border-radius: 8px;
    padding: 15px;
}
.wallet-totalBox img{
    width: 32px;
    height: auto;
    margin-right: 15px;
}
.wallet-gamecateBox{
    background: rgba(18, 0, 0, 1);
    padding: 16px;
    border-radius: 8px;
    line-height: 16px;
    margin-bottom: 15px;
}
/* Member Center-reset password */
.resetpasswordBox {
    width: 70%;
    margin: 0 auto;
}
.resetpasswordBox button{
    width: 100%;
}



@media screen and (max-width: 767px) {
    .membercenter{
        padding: 16px 0;
        display: block;
    }
    .member-tab-option {
        flex: 1 1 0;
        white-space: nowrap;
    }
    .member-contentBox{
        width: unset;
    }
    .membercenterBlock{
        padding-bottom: 32px;
    }
    .VIPclub-tableBox{
        width: 200px;
    }
}



/* 會員中心-手機版左右欄狀態 */
@media screen and (max-width: 767px) {
    .membercenter-left, .membercenter-right {
        width: 100%;
        height: auto;
    }
    .membercenter-left {
        z-index: 2;
    }
    .membercenter-right {
        z-index: 1;
    }
    .mobile-view-mode .membercenter-left {
        display: block;
        width: 100vw;
    }
    .mobile-view-mode .membercenter-right {
        display: none;
    }
    .mobile-view-mode.show-pagetitle .membercenter-left {
        display: none;
    }
    .mobile-view-mode.show-pagetitle .membercenter-right {
        display: block;
    }
    .loginregister-btnarrow {
        display: inline-block;
        padding: 5px;
        background: none;
        border: none;
    }
}








@media screen and (min-width: 768px){
    .PChide{display: none;}
}
@media screen and (max-width: 767px){
    .MOBhide{display: none;}
}

